.App {
  background-color: rgba(40, 44, 52, 0.756);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#userIcon
{
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}
.navbarDropDownDescription
{
   padding: 3px 20px 1px 20px;
   color:#61dafb;

}
.hoverAbleTableRow:hover
{
    background-color: 'green';
}

/*New Form Styling */
.newFormHolder
{
   width: 70%;
   margin-left: 3%;
}
.newFormHolder h2
{
  background-color:#ccd0d5;
}

/*New table Styling */
.hoverAbleTableRow:hover
{
  cursor: pointer;
}