body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(
    #0B6623 0%,
    #0B6623 20%,
    #9DC183 20%,
    #9DC183 40%,
    #0B6623 40%,
    #0B6623 60%,
    #9DC183 60%,
    #9DC183 80%,
    #0B6623 80%,
    #0B6623 100%
  );
  background-size: cover;
  background-attachment: fixed;
  color: white;
}



.App {
  background-color: rgba(20, 22, 25, 0.756);
  min-height: 100vh;
  margin: 0;
  padding-bottom: 60px;
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list-group-item {
  display: flex;
  justify-content: center;
  padding: 0;
  border: none;
}

.list-group-horizontal .list-group-item {
  flex: 1;
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#userIcon
{
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}
.navbarDropDownDescription
{
   padding: 3px 20px 1px 20px;
   color:#61dafb;

}
.hoverAbleTableRow:hover
{
    background-color: 'green';
}

/*New Form Styling */
.newFormHolder
{
   width: 70%;
   margin-left: 3%;
}
.newFormHolder h2
{
  background-color:#ccd0d5;
}

/*New table Styling */
.hoverAbleTableRow:hover
{
  cursor: pointer;
}